# Rust
/target/
**/*.rs.bk
*.pdb
Cargo.lock

# Build artifacts
/dist/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log

# macOS
.DS_Store
.AppleDouble
.LSOverride
